.bg-azul-ucr {
    background-color: #005DA4;
}

.bg-celeste-ucr {
    background-color: #00C0F3;
}

.bg-verde-ucr {
    background-color: #6DC067;
}

.bg-amarillo-ucr {
    background-color: #FFE06A;
}

.badge-l1 {
    background-color: #00C0F3;
    color: white;
}

.badge-l2 {
    background-color: #005DA4;
    color: white;
}